doctype html
html(lang="en" ng-app="phoneApp")
  head
    meta(charset="utf-8")
    - var together = true
    if debug
      if together
        each file in load_css
          link(href="#{file}" rel="stylesheet")
      else
        link(href="bootstrap.css" rel="stylesheet")
        link(href="phone-app.css" rel="stylesheet")
        link(href="phone-list.css" rel="stylesheet")
    else
      link(href="all.css" rel="stylesheet")
      link(href="sass.css" rel="stylesheet")
    if debug
      if together
        each file in load_js
          script(src="#{file}")
      else
        script(src="angular.js")
        script(src="phone-app.js")
        script(src="phone-list.js")
    else
      script(src="all.js")
  body.container-fluid
    nav.navbar.navbar-default
      ul.nav.navbar-nav
        li
          a(href="/") Root
    phone-list
    if debug
      script document.write('<script src="//' + location.host.split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
