$article-height: 100px;
$article-padding: 15px;
$total-height: $article-height + $article-padding;
$effect-speed: .1s;

.phones {
  list-style: none;

  li {
    display: flex;
    align-items: flex-start;

    a {
      flex: 0 0 $article-height;
    }

    article {
      padding: $article-padding;
    }
  }
}

.phone-list-item {

  &.ng-animate {
    transition: height $effect-speed linear;
    overflow: hidden;
  }

  &.ng-enter {
    height: 0;
    &.ng-enter-active { height: $total-height; }
  }

  &.ng-move {
    height: 0;
    &.ng-move-active { height: $total-height; }
  }

  &.ng-leave {
    height: $total-height;
    &.ng-leave-active { height: 0; }
  }
}
