$effect-speed: .1s;

.detail-image {
  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.ng-animate {
      transition: opacity $effect-speed linear;
    }

    &.current {
      opacity: 1;
    }
  }
}
