{% raw %}
<div class="row phone-detail">
  <div class="col-sm-3">
    <div class="detail-image">
      <img class="img-responsive" ng-repeat="img in $ctrl.images" ng-src="{{img.src}}" ng-class="{'current': $ctrl.image == img.src}">
    </div>
  </div>
  <div class="col-sm-9">
    <div class="jumbotron">
      <h1>{{$ctrl.data.name}}</h1>
      <p>{{$ctrl.data.snippet}}</p>
      <div class="row">
        <img class="img-responsive img-thumbnail col-xs-2" ng-repeat="img in $ctrl.images" ng-src="{{img.src}}" ng-mouseenter="$ctrl.image = img.src; img.hover = true;" ng-mouseleave="img.hover = false" ng-class="{'img-circle': img.hover}">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">{{$ctrl.description}}</div>
</div>
<div class="row">
  <phone-option ng-repeat="(k, v) in $ctrl.props" name="k" value="v"></phone-option>
</div>
{% endraw %}
