- verbatim
.row
  .col-sm-2
    form
      .form-group
        label Search
        input.form-control(ng-model="$ctrl.query")
      .form-group
        label Sort
        select.form-control(ng-model="$ctrl.sort")
          option(value="name") Name
          option(value="age") Age
  .col-sm-10
    ul.phones
      li.thumbnail.phone-list-item(ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.sort")
        a(href="#/phone/{{phone.id}}")
          img(ng-src="{{phone.image}}" alt="{{phone.name}}")
        article
          a(href="#/phone/{{phone.id}}") {{phone.name}}
            small &nbsp;[{{phone.age}}]
          p {{phone.snippet}}
- endverbatim
