{% raw %}
<div class="row">
  <div class="col-sm-2">
    <form>
      <div class="form-group">
        <label>Search</label>
        <input class="form-control" ng-model="$ctrl.query" />
      </div>
      <div class="form-group">
        <label>Sort</label>
        <select class="form-control" ng-model="$ctrl.sort">
          <option value="name">Name</option>
          <option value="age">Age</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-sm-10">
    <ul class="phones">
      <li class="thumbnail phone-list-item" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.sort">
        <a href="#/phone/{{phone.id}}">
          <img ng-src="{{phone.image}}" alt="{{phone.name}}" />
        </a>
        <article>
          <a href="#/phone/{{phone.id}}">{{phone.name}}<small>&nbsp;[{{phone.age}}]</small></a>
          <p>{{phone.snippet}}</p>
        </article>
      </li>
    </ul>
  </div>
</div>
{% endraw %}
